body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header{
    text-align: center;
    margin-bottom: 50px;
}

header img{
    max-width: 200px;
}

.hero{
    text-align: center;
}

.hero h2{
    font-size: 3rem;
    margin-bottom: 20px;
}

.slider{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.cta{
    text-align: center;
    margin-top: 50px;
}

.button{
    display: inline;
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p{
    margin-bottom: 10px;
}

.social-media{
    list-style: none;
    padding: 0;
}

.social-media li{
    display: inline-block;
    margin-right: 10px;
}

.social-media li a{
    color: #fff;
}

.back-to-top{
    display: block;
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
}